<html>
	<head><title>Create Project Message</title></head>
	<body>
		<h1>A Project Has Been Successfully Created!</h1>
		<p>Name: <%=@txtname%></p>
		<p>Email: <%=@txtemail%>
		<p>Trip Dates: <%=@txtdates%></p>
        <p>Team Name: <%=@tname%></p>
        <p>Team Leader: <%=@txtleader%></p>
        <p>Created Project:<br>
        	Plant A Tree: <%=@txttree%><br>
        	Solar Lighting: <%=@txtsolar%><br>
        	Water Filters: <%=@txtwater%><br>
        	Pair of Goats: <%=@txtgoats%><br>
        	Kids Club: <%=@txtkids%><br>
        	House Restoration <%=@txthouse%><br>
        	Roof Repair: <%=@txtroof%><br>
        	Build Latrine: <%=@txtlatrine%><br>
        	Build A Home: <%=@txtbuild%>
        </p>
	</body>
</html>
